<mat-card>
  <div class="table-boarder">
    <mat-card-title class="table-boarder-color">
      Billing
    </mat-card-title>

    <mat-card-content class="m-2">
      <form [formGroup]="branchFormData" autocomplete="off">

        <div class="d--flex">

          <mat-form-field>
            <mat-label>{{ 'Billing.branch' | translate }}</mat-label>
            <mat-select formControlName="branch" appFocusOnEnter tabIndex="12" (selectionChange)="genarateBillNo()">
              <mat-option *ngFor="let branch of getSalesBranchListArray" [value]="branch.text">
                {{branch.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="form-element">
            <input matInput placeholder="{{ 'Billing.billNo' | translate }}" formControlName="billNo" appFocusOnEnter
              tabIndex="1">
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="{{'Billing.billDate' | translate }}"
              formControlName="billDate" appFocusOnEnter tabIndex="17">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="form-element">
            <input matInput placeholder="{{ 'Billing.name' | translate }}" formControlName="name" appFocusOnEnter
              tabIndex="3">
          </mat-form-field>
          <mat-form-field class="form-element">
            <input matInput placeholder="{{ 'Billing.mobile1' | translate }}" formControlName="mobile1" appFocusOnEnter
              tabIndex="4">
          </mat-form-field>
          <mat-form-field class="form-element">
            <input matInput placeholder="{{ 'Billing.mobile2' | translate }}" formControlName="mobile2" appFocusOnEnter
              tabIndex="3">
          </mat-form-field>
          <mat-form-field class="form-element">
            <input matInput placeholder="address1" formControlName="address1" appFocusOnEnter tabIndex="4">
          </mat-form-field>
          <mat-form-field class="form-element">
            <input matInput placeholder="address2" formControlName="address2" appFocusOnEnter tabIndex="5">
          </mat-form-field>
          <mat-form-field class="form-element">
            <input matInput placeholder="address3" formControlName="address3" appFocusOnEnter tabIndex="6">
          </mat-form-field>
          <mat-form-field class="form-element">
            <input matInput placeholder="gstNo" formControlName="gstNo" appFocusOnEnter tabIndex="7">
          </mat-form-field>
          <mat-form-field class="form-element">
            <input matInput placeholder="gstNo" formControlName="email" appFocusOnEnter tabIndex="7">
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{'cashacctobranches.billType' | translate }}</mat-label>
            <mat-select formControlName="billType">
              <mat-option *ngFor="let bill of billList" [value]="bill.id">
                {{bill.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>


        </div>
        <mat-divider></mat-divider>
      </form>

      <div>
        <app-billing-table [tableData]="tableData"></app-billing-table>
      </div>


      <form [formGroup]="modelFormData" autocomplete="off">

        <div class="d--flex">

          <mat-form-field>
            <mat-label>{{ 'Billing.modelForSale' | translate }}</mat-label>
            <mat-select formControlName="modelForSale" appFocusOnEnter tabIndex="12"
              (selectionChange)="genarateBillNo()">
              <mat-option *ngFor="let branch of getSalesBranchListArray" [value]="branch.text">
                {{branch.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="form-element">
            <input matInput placeholder="{{ 'Billing.cash' | translate }}" formControlName="cash" appFocusOnEnter
              tabIndex="1">
          </mat-form-field>
          <mat-form-field class="form-element">
            <input matInput placeholder="{{ 'Billing.credit' | translate }}" formControlName="credit" appFocusOnEnter
              tabIndex="3">
          </mat-form-field>
          <mat-form-field class="form-element">
            <input matInput placeholder="{{ 'Billing.rtgs' | translate }}" formControlName="rtgs" appFocusOnEnter
              tabIndex="4">
          </mat-form-field>
          <mat-form-field class="form-element">
            <input matInput placeholder="{{ 'Billing.INTChanges' | translate }}" formControlName="INTChanges"
              appFocusOnEnter tabIndex="3">
          </mat-form-field>
          <mat-form-field class="form-element">
            <input matInput placeholder="phonePay" formControlName="phonePay" appFocusOnEnter tabIndex="4">
          </mat-form-field>
          <mat-form-field class="form-element">
            <input matInput placeholder="paytm" formControlName="paytm" appFocusOnEnter tabIndex="5">
          </mat-form-field>
          <mat-form-field class="form-element">
            <input matInput placeholder="check" formControlName="check" appFocusOnEnter tabIndex="6">
          </mat-form-field>
          <mat-form-field class="form-element">
            <input matInput placeholder="financeAmount" formControlName="financeAmount" appFocusOnEnter tabIndex="7">
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{'cashacctobranches.financeName' | translate }}</mat-label>
            <mat-select formControlName="financeName">
              <mat-option *ngFor="let bill of billList" [value]="bill.id">
                {{bill.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="form-element">
            <input matInput placeholder="cardAmt" formControlName="cardAmt" appFocusOnEnter tabIndex="7">
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'cashacctobranches.cardType' | translate }}</mat-label>
            <mat-select formControlName="cardType">
              <mat-option *ngFor="let bill of billList" [value]="bill.id">
                {{bill.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>



          <mat-form-field class="form-element">
            <input matInput placeholder="netAmount" formControlName="netAmount" appFocusOnEnter tabIndex="7">
          </mat-form-field>
        </div>
        <mat-divider></mat-divider>
      </form>

    </mat-card-content>
  </div>
</mat-card>








<div>

  <div class="form-element p-2 d-flex justify-content-end">
    <button mat-raised-button class="mr-1" class="button-color-red text-white" [translate]="'COMMON.CANCEL'"
      (click)="cancel()">Cancel</button>
    <button mat-raised-button type="submit" class="button-color-bule text-white ml-1" [translate]="'COMMON.SAVE'"
      (click)="save()"> Save</button>
  </div>
</div>