<div class="position-relative popup-class">


  <mat-card-title  class="boader--color d-flex justify-content-between position-absolute w-100" >
    <span>  {{'subgroup.title' | translate }} </span>
    <mat-icon class="p-2 cursor--pointer" (click)="cancel()">close</mat-icon>
  </mat-card-title>

    <mat-card-content class="pt-5 p-2 m-0 overflow-auto">
       <form [formGroup]="modelFormData" autocomplete="off">

        <div class="d--flex">
          <mat-form-field>
            <mat-label>{{'subgroup.accGroup' | translate }}</mat-label>
            <mat-select formControlName="accGroup">
              <mat-option *ngFor="let accgrp of accGroupList" [value]="accgrp.id">
                {{accgrp.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        <mat-form-field class="form-element" [ngClass]="{ 'ng--valid': formControls.subGroupCode.valid }">
          <input matInput placeholder="{{'subgroup.subGroupCode' | translate }}" formControlName="subGroupCode" appFocusOnEnter tabIndex="1">
          <mat-error *ngIf="formControls.subGroupCode.errors" class="help-block">
            <div *ngIf="formControls.subGroupCode.errors.required">Subgroup Code is required</div>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element" [ngClass]="{ 'ng--valid': formControls.subGroupName.valid }">
          <input matInput placeholder="{{'subgroup.subGroupName' | translate }}" formControlName="subGroupName" appFocusOnEnter tabIndex="2">
          <mat-error *ngIf="formControls.subGroupName.errors" class="help-block">
            <div *ngIf="formControls.subGroupName.errors.required">Subgroup Name is required</div>
          </mat-error>
        </mat-form-field>

      </div>
      <mat-divider></mat-divider>



      </form>

    </mat-card-content>
    <div  class="form-element p-2 d-flex justify-content-end">
      <button mat-raised-button class="button-color-red text-white mr-1"  (click)="cancel()">
        
        {{ 'COMMON.CANCEL' | translate }}
      </button>
          <button mat-raised-button  type="submit" class="button-color-bule text-white ml-1"  (click)="save()" appFocusOnEnter tabIndex="3">
            
            {{ 'COMMON.SAVE' | translate }}
           </button>
    </div>
  </div>
