<div *ngIf="!tableUrl.coustom && routeParams == 'salesInvoice'">
  <app-sales-invoice></app-sales-invoice>
</div>
<div *ngIf="!tableUrl.coustom && routeParams == 'salesReturn'">
  <app-sales-return></app-sales-return>
</div>
<div *ngIf="!tableUrl.coustom && routeParams == 'stockTransfer'">
  <app-stocktransfer></app-stocktransfer>
</div>
<div *ngIf="!tableUrl.coustom && routeParams == 'purchaseInvoice'">
  <app-purchase></app-purchase>
</div>
<div *ngIf="!tableUrl.coustom && routeParams == 'purchaseReturn'">
  <app-purchase-return></app-purchase-return>
</div>
