<div class="position-relative popup-class">
  <mat-card-title class="boader--color d-flex justify-content-between position-absolute w-100">
    <span> {{'applyod.title' | translate }} </span>
    <mat-icon class="p-2 cursor--pointer" (click)="cancel()">close</mat-icon>
  </mat-card-title>
  <mat-card-content class="pt-5 p-2 m-0 overflow-auto">
    <form [formGroup]="modelFormData" autocomplete="off">

      <div class="d--flex">
        <mat-form-field class="form-element">
          <input matInput placeholder="{{'applyod.empCode' | translate }}"
                 (typeaheadOnSelect)="onSearchChange($event)"
                 (input)="getProductByProductCode($event.target.value)"
                 [typeahead]="getProductByProductCodeArray" typeaheadOptionField='id'
                 formControlName="empCode" appFocusOnEnter tabIndex="1">
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder=" {{'applyod.empName' | translate }} "
                 formControlName="empName" [typeahead]="getProductByProductNameArray" typeaheadOptionField='text'
                 appFocusOnEnter tabIndex="2">

        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker1" placeholder="{{'applyod.applDate' | translate }}"
                 [formControl]="applDate">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="{{'applyod.type' | translate }}" formControlName="type"  appFocusOnEnter tabIndex="3">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Transport</mat-label>
          <mat-select formControlName="transport" placeholder="transport">
            <mat-option *ngFor="let session of sessions" [value]="session.value">
              {{session.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="{{'applyod.visitingPlace' | translate }}" formControlName="visitingPlace"  appFocusOnEnter tabIndex="3">
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="{{'applyod.visitingPlacePurpus' | translate }}" formControlName="visitingPlacePurpus"  appFocusOnEnter tabIndex="3">
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker2" placeholder="{{'applyod.fromDate' | translate }}"
                 (dateChange)="orgValueChange()" formControlName="fromDate">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="{{'applyod.fromTime' | translate }}" formControlName="fromTime" type="number" appFocusOnEnter tabIndex="3">
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker3" placeholder="{{'applyod.toDate' | translate }}"
                 (dateChange)="leaveToValueChange()" formControlName="toDate">
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="{{'applyod.toTime' | translate }}" formControlName="toTime" type="number" appFocusOnEnter tabIndex="3">
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="{{'applyod.noOfDays' | translate }}" formControlName="noOfDays" readonly="readonly" type="number" appFocusOnEnter tabIndex="3">
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>

      <div class="form-element p-2 d-flex justify-content-end">
        <button mat-raised-button class="button-color-red text-white mr-1" (click)="cancel()">

          {{ 'COMMON.CANCEL' | translate }}
        </button>
        <button mat-raised-button type="submit" class="button-color-bule text-white ml-1" (click)="save()" appFocusOnEnter
                tabIndex="5">

          ApplyOd
        </button>
      </div>

    </form>

  </mat-card-content>
</div>
