<div class="p-1">
  <h5> {{ ( routeParam + '.title') | translate }} </h5>
</div>

<mat-card>
  <!-- <div class="background-header-boarder"> -->
    <!-- <mat-card-title class="background-header-style">
      {{ ( routeParam + '.title') | translate }}
    </mat-card-title> -->
    <div class="background-header-boarder">
      <div class="d-flex justify-content-between align-items-center">
        <div class="">
          <button class="ml-2" mat-raised-button (click)="openDialog('Add')" [disabled]="user.canAdd">
            <mat-icon>add</mat-icon> New
          </button>
          <button class="ml-2" mat-raised-button (click)="openDialog('Edit')" [disabled]="user.canEdit">
            <mat-icon>edit</mat-icon> Edit
          </button>
          <button class="ml-2" mat-raised-button (click)="openDialog('Delete')" [disabled]="user.canDelete">
            <mat-icon>delete</mat-icon> Delete
          </button>
          <button class="ml-2" mat-raised-button [disabled]="user.canDelete">
            <mat-icon>print</mat-icon> Print
          </button>
        </div>
        <div class="btn-group align-items-center" dropdown #dropdown="bs-dropdown" [autoClose]="false">

          <mat-form-field class="pl-2 filter" [floatLabel]="'never'">
            <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter" />
          </mat-form-field>
          <div class="">
            <button dropdownToggle mat-raised-button class="dropdown-toggle ml-2" (click)="filterData()">
               Columns
            </button>
          </div>

          <div id="dropdown-triggers-manual" *dropdownMenu class="dropdown-menu" role="menu"
            aria-labelledby="button-triggers-manual">
            <div class="dropdown--width d-flex">
              <mat-select class="p-2" [formControl]="tableMultiCtrl" placeholder="Search columns" [multiple]="true"
                #multiSelect>
                <ngx-mat-select-search (toggleAll)="toggleSelectAll($event)" [formControl]="tableMultiFilterCtrl">
                </ngx-mat-select-search>
                <mat-option *ngFor="let bank of filteredTableMulti | async; let i = index" [value]="bank">
                  <mat-checkbox [checked]="bank.hide" (change)="checkboxCheck(i)">
                    {{ ( routeParam + '.' +  bank.label) | translate }}
                  </mat-checkbox>
                </mat-option>
              </mat-select>
              <div class="p-2 d-flex">
                <button mat-raised-button class="button-color-bule text-white ml-1"
                  (click)="saveChanges(); dropdown.hide();"> Save
                </button>
                <button mat-raised-button class="ml-1 button-color-red text-white"
                  (click)="cancleChanges(); dropdown.hide()"> Close </button>

              </div>
            </div>
          </div>
        </div>

      </div>

      <div *ngIf="showDataNotFound" class="d-flex justify-content-center">
        <span> NO Data in Table </span>
      </div>

      <div class="table">
        <table class="w-100" mat-table [dataSource]="dataSource" matSort #mytable>
          <ng-container *ngFor="let column of getDisplayedColumns()" [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <strong> {{ ( routeParam + '.' +  column) | translate }} </strong>
            </th>
            <td mat-cell *matCellDef="let element; let i = index;"
              (click)="setIndex(element)">
              {{ element[column] }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
          <tr mat-row *matRowDef="let row; columns: getDisplayedColumns(); let i = index"
            (dblclick)="openDialog('Edit', row)" [style.background]="
          highlightedRows.indexOf(row) != -1 ? 'lightblue' : ''
        "></tr>
        </table>
      </div>
      <div *ngIf="!dataSource" class="d-flex justify-content-center p-2">
        <strong> No records found </strong>
      </div>
      <mat-paginator [pageSizeOptions]="[8 ,10, 15]" showFirstLastButtons></mat-paginator>
    </div>
  <!-- </div> -->
</mat-card>
