$color-custome: #e8dbdb;
$color-gray: #dee2e6;
$color-blue: #027ff4;
$color-white: white;


.d--flex {
    display: flex;
    flex-wrap: wrap;
  }
  
  mat-form-field {
    margin: 5px;
    flex: 0 0 24%;
  }
  
  
  .table-boarder {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
  }
  
  .table-boarder-color {
    padding: 0rem 1.25rem;
        margin-bottom: 0;
        background-color: rgba(0,0,0,.03);
        border-bottom: 1px solid rgba(0,0,0,.125);
  }


  .table {
    overflow-x: scroll;
  }
  
  :host ::ng-deep table {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    & > tbody  {
      & tr {
        border-bottom: 1px solid #ddd;
      }
      & td {
        font-size: 12px;
      }
      & tr {
        border-bottom: 1px solid #ddd;
      }
      & tr:nth-child(even) {
      background-color: #f9f9f9
      }
      & tr:nth-child(odd) {
        background-color: $color-white
        }
        & tr:nth-child(even):hover {
          background-color: #f9f6f6
          }
          & tr:nth-child(odd):hover {
            background-color: #f9f6f6
            }
    }
  }

  .table tr {
    height: 40px !important;
    cursor: pointer;
  }

  .table th {
    background-color: $color-blue;
    color: $color-white;
  }
  
  .table th, .table td {
    vertical-align: middle;
    border: none !important;
  }