<div class="position-relative popup-class">

  <mat-card-title class="boader--color d-flex justify-content-between position-absolute w-100">
    <span>{{'tank.title' | translate }}</span>
    <mat-icon class="p-2  cursor--pointer" (click)="cancel()">close</mat-icon>
  </mat-card-title>

  <mat-card-content class="pt-5 p-2 m-0 overflow-auto">
    <form [formGroup]="modelFormData" autocomplete="off">
      <div class="d--flex">

        <!--<mat-form-field>
    <mat-label>Branch Name</mat-label>
    <mat-select placeholder="{{'tank.branchName' | translate }}" formControlName="branchName" (selectionChange)="getproductCodeList()" >
      <mat-option *ngFor="let bnchlist of BranchesList" [value]="bnchlist.text">
        {{bnchlist.text}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="form-element">
    <input matInput placeholder="{{'tank.branchCode' | translate }}" formControlName="branchCode" appFocusOnEnter tabIndex="1">
  </mat-form-field>-->
        <mat-form-field class="form-element">
          <input matInput placeholder="{{'tank.tankNo' | translate }}" formControlName="tankNo" appFocusOnEnter tabIndex="2">
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="{{'tank.tankCapacityinLtrs' | translate }}" formControlName="tankCapacityinLtrs" appFocusOnEnter tabIndex="3">
        </mat-form-field>
        <mat-form-field class="form-element">
          <input matInput placeholder="{{'tank.noofPumps' | translate }}" formControlName="noofPumps" appFocusOnEnter tabIndex="4">
        </mat-form-field>
        
        <mat-form-field class="form-element">
          <mat-label>{{ 'tank.branchName' | translate }}</mat-label>
          <mat-select formControlName="branchCode" appFocusOnEnter tabIndex="3">
            <mat-option *ngFor="let branch of GetBranchesListArray" [value]="branch.id">
              {{ branch.id }} - {{branch.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="{{'tank.productCode' | translate }}" formControlName="productCode" appFocusOnEnter tabIndex="5">
        </mat-form-field>
        <mat-label>Is Working</mat-label>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1">Yes</mat-radio-button>
          <mat-radio-button value="0">No</mat-radio-button>
        </mat-radio-group>
      </div>
      <mat-divider></mat-divider>

    </form>

  </mat-card-content>

    <div  class="form-element p-2 d-flex justify-content-end">
    <button mat-raised-button class="button-color-red text-white mr-1"  (click)="cancel()">
      
      {{ 'COMMON.CANCEL' | translate }}
    </button>
        <button mat-raised-button  type="submit" class="button-color-bule text-white ml-1"  (click)="save()" appFocusOnEnter tabIndex="5">
          
          {{ 'COMMON.SAVE' | translate }}
         </button>
  </div>

</div>
