$color-green: green;

::ng-deep .ng--valid  {
  & .mat-form-field-label  {
    color: $color-green !important;
  }
  & .mat-form-field-ripple  {
    background-color: $color-green !important;
  }
}

.d--flex {
  display: flex;
  flex-wrap: wrap;
}

mat-form-field {
  margin: 5px;
  flex: 0 0 24%;
}

mat-card-title {
  min-height: 50px;
  height: 50px;
  z-index: 1000;
}

mat-card-content {
  max-height: 400px;
}

.p-2{
  cursor: pointer;
}
