<mat-toolbar class="bg-primary text-white">
  <mat-toolbar-row>
    <button
      *ngIf="showExpandButtons"
      mat-icon-button
      id="menu"
      (click)="openCloseMemu()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <div class="container">
        <img src="../../assets/images/CoreERP_icon.png" alt="hi" height="25" />
        <span class="pl-2">CoreERP</span>
    </div>
    <div class="d-flex" *ngIf="showExpandButtons">
      <span class="align-items-center d-flex pl-3"><mat-icon>account_circle</mat-icon></span>
      <small class="pl-2" *ngIf="loginUser != null">  {{loginUser.userName}}    </small>
    </div>

    <button class="ml-2" mat-button (click)="logout()" *ngIf="showExpandButtons">
      Logout
    </button>
  </mat-toolbar-row>
</mat-toolbar>
