<!-- <form  class="ml-2"> -->
    <!-- <mat-form-field> -->
      <mat-select [formControl]="tableMultiCtrl" placeholder="Search columns" [multiple]="true" #multiSelect>
        <ngx-mat-select-search (toggleAll)="toggleSelectAll($event)" [formControl]="tableMultiFilterCtrl">
        </ngx-mat-select-search>
        <mat-option *ngFor="let bank of filteredTableMulti | async; let i = index" [value]="bank">
          <mat-checkbox [checked]="bank.hide" (change)="checkboxCheck(i)" >
            {{ bank.label }} 
          </mat-checkbox>
        </mat-option>
      </mat-select>
      <button mat-raised-button color="accent" (click)="saveChanges()"> Save </button>
      
    <!-- </mat-form-field> -->
  <!-- </form> -->