<div class="position-relative popup-class">


  <mat-card-title  class="boader--color d-flex justify-content-between position-absolute w-100" >
    <span>{{'cashacctobranches.title' | translate }}</span>
    <mat-icon class="p-2 cursor--pointer" (click)="cancel()">close</mat-icon>
  </mat-card-title>

    <mat-card-content class="pt-5 p-2 m-0 overflow-auto">
       <form [formGroup]="modelFormData" autocomplete="off">

        <div class="d--flex">
          <mat-form-field>
            <mat-label>{{'cashacctobranches.branchCode' | translate }}</mat-label>
            <mat-select formControlName="branchCode">
              <mat-option *ngFor="let branch of branchesList" [value]="branch.id">
                {{branch.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="form-element" [ngClass]="{ 'ng--valid': formControls.code.valid }" >
            <input matInput placeholder="{{'cashacctobranches.code' | translate }}" disabled formControlName="code" appFocusOnEnter tabIndex="1">
            <mat-error *ngIf="formControls.code.errors" class="help-block">
              <div *ngIf="formControls.code.errors.required">Code is required </div>
            </mat-error>

          </mat-form-field>

        <mat-form-field>
          <mat-label>{{'cashacctobranches.bankGlacc' | translate }}</mat-label>
          <mat-select formControlName="bankGlacc">
            <mat-option *ngFor="let bankacc of cashaccList" [value]="bankacc.id">
              {{bankacc.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'cashacctobranches.cashGlacc' | translate }}</mat-label>
          <mat-select formControlName="cashGlacc">
            <mat-option *ngFor="let cashAcc of cashaccList" [value]="cashAcc.id">
              {{cashAcc.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <mat-divider></mat-divider>



      </form>

    </mat-card-content>
    <div  class="form-element p-2 d-flex justify-content-end">
      <button mat-raised-button class="button-color-red text-white mr-1"  (click)="cancel()">
        
        {{ 'COMMON.CANCEL' | translate }}
      </button>
      <button mat-raised-button  type="submit" class="button-color-bule text-white ml-1"  (click)="save()" appFocusOnEnter tabIndex="2">
        
         {{ 'COMMON.SAVE' | translate }}
        </button>
    </div>
  </div>
