<mat-card class="boxshadow p-3">
  <mat-card-title class="background--color rounded text-white p-2 d-flex">
    <mat-icon >lock</mat-icon>
    <small  [translate]="'LOGIN.LOGIN'"> </small>
  </mat-card-title>
  <mat-card-content>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form" autocomplete="off">

      <mat-form-field class="form-element" [ngClass]="{ 'ng--valid': formControls.username.valid }">
        <input matInput placeholder="{{'LOGIN.USERNAME' | translate }}" formControlName="username">
        <mat-error *ngIf="isSubmitted && formControls.username.errors" class="help-block">
          <div *ngIf="formControls.username.errors.required">Username is required </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element" [ngClass]="{ 'ng--valid': formControls.password.valid }">
        <input matInput placeholder="{{'LOGIN.PASSWORD' | translate }}" formControlName="password">
        <mat-error *ngIf="isSubmitted && formControls.password.errors" class="help-block">
          <div *ngIf="formControls.password.errors.required">Password is required</div>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label [translate]="'COMMON.LANGUAGEPREFERENCE'"></mat-label>
        <mat-select (selectionChange)="setLang(langSelect.value)" #langSelect>
          <mat-option *ngFor="let lang of translate.getLangs()" [value]="lang">
            {{lang}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="form-element">
        <button mat-raised-button class="background--color text-white mat-raised-button" type="submit">
          
          {{ 'LOGIN.LOGIN' | translate}}
        </button>
      </div>

    </form>

  </mat-card-content>
</mat-card>
