<mat-card class="m-5">
  <mat-card-title class="background--color rounded text-white  p-2 d-flex">
    <small> User Profile </small>
  </mat-card-title>
  <mat-card-content>

    <div class="row">
      <div class="col-md-4 d-flex justify-content-around align-items-center">
        <img mat-card-md-image src="../../../assets/images/profile.png">
      </div>
      <div class="col-md-8">
        <form [formGroup]="userProfile" (ngSubmit)="onSubmit()" class="form" autocomplete="off">

          <mat-form-field class="form-element mb-2"  >
            <input matInput placeholder="Company Code" formControlName="companyCode" >
          </mat-form-field>

          <mat-form-field class="form-element mb-2">
            <input matInput placeholder="Branch Code" formControlName="branchCode" >
          </mat-form-field>

          <mat-form-field class="mb-2">
            <mat-label [translate]="'COMMON.LANGUAGEPREFERENCE'"></mat-label>
            <mat-select (selectionChange)="setLang(langSelect.value)" #langSelect>
              <mat-option *ngFor="let lang of translate.getLangs()" [value]="lang" >
                {{lang}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div class="form-element">
            <button mat-raised-button class="background--color text-white"  type="submit">
              <span > Save </span>
            </button>
          </div>

        </form>
      </div>
    </div>



  </mat-card-content>
</mat-card>
