<div class="position-relative popup-class">
  <mat-card-title class="boader--color d-flex justify-content-between position-absolute w-100">
    <span> {{'designation.title' | translate }} </span>
    <mat-icon class="p-2  cursor--pointer" (click)="cancel()">close</mat-icon>
  </mat-card-title>
  <mat-card-content class="pt-5 p-2 m-0 overflow-auto">
    <form [formGroup]="modelFormData" autocomplete="off">

      <div class="d--flex">
        

        <mat-form-field class="form-element" [ngClass]="{ 'ng--valid': formControls.designationName.valid }">
          <input matInput placeholder="{{'designation.designationName' | translate }}" formControlName="designationName"
                 appFocusOnEnter tabIndex="1">
          <mat-error *ngIf="formControls.designationName.errors" class="help-block">
            <div *ngIf="formControls.designationName.errors.required">Name is required</div>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="{{'designation.leaveDays' | translate }}"
                 formControlName="leaveDays" appFocusOnEnter tabIndex="2">
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="{{'designation.advanceAmount' | translate }}"
                 formControlName="advanceAmount" appFocusOnEnter tabIndex="3">
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="{{'designation.narration' | translate }}"
                 formControlName="narration" appFocusOnEnter tabIndex="3">
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker1" placeholder="{{'designation.extraDate' | translate }}" formControlName="extraDate">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="{{'designation.extra1' | translate }}"
                 formControlName="extra1" appFocusOnEnter tabIndex="5">
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="{{'designation.extra2' | translate }}"
                 formControlName="extra2" appFocusOnEnter tabIndex="6">
        </mat-form-field>

      </div>
      <mat-divider></mat-divider>

      <div class="form-element p-2 d-flex justify-content-end">
        <button mat-raised-button class="button-color-red text-white mr-1" (click)="cancel()">

          {{ 'COMMON.CANCEL' | translate }}
        </button>
        <button mat-raised-button type="submit" class="button-color-bule text-white ml-1" (click)="save()"
                appFocusOnEnter tabIndex="5">

          {{ 'COMMON.SAVE' | translate }}
        </button>
      </div>

    </form>

  </mat-card-content>
</div>
