<div class="position-relative popup-class">
  <mat-card-title class="boader--color d-flex justify-content-between position-absolute w-100">
    <span> {{'noSeries.title' | translate }} </span>
    <mat-icon class="p-2  cursor--pointer" (click)="cancel()">close</mat-icon>
  </mat-card-title>
  <mat-card-content class="pt-5 p-2 m-0 overflow-auto">
    <form [formGroup]="modelFormData" autocomplete="off">
      <div class="d--flex">
        <mat-form-field>
          <mat-label>Partner Type</mat-label>
          <mat-select formControlName="partnerType" >
            <mat-option *ngFor="let ptlist of PartnetTypeList" [value]="ptlist.code">
              {{ptlist.description}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-element" [ngClass]="{ 'ng--valid': formControls.numberSeries.valid }">
          <input matInput placeholder="{{'noSeries.numberSeries' | translate }}" formControlName="numberSeries" appFocusOnEnter tabIndex="1">
          <mat-error *ngIf="formControls.numberSeries.errors" class="help-block">
            <div *ngIf="formControls.numberSeries.errors.required">Noseries is required </div>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Number Type</mat-label>
          <mat-select formControlName="noType" appFocusOnEnter tabIndex="3">
            <mat-option *ngFor="let ptlist of NumberTypes" [value]="ptlist.value">
              {{ptlist.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>

        <div  class="form-element p-2 d-flex justify-content-end">
    <button mat-raised-button class="button-color-red text-white mr-1"  (click)="cancel()">
      
      {{ 'COMMON.CANCEL' | translate }}
    </button>
        <button mat-raised-button  type="submit" class="button-color-bule text-white ml-1"  (click)="save()" appFocusOnEnter tabIndex="2">
          
          {{ 'COMMON.SAVE' | translate }}
         </button>
  </div>

    </form>

  </mat-card-content>
</div>
