<div id="print-section" style="font-size: 10px;">
  <div style="padding-left: 45%;padding-top: 3%;min-height: 20px;">
    {{ invoiceHdr.stateCode }}
  </div>
  <div style="padding-left: 3%;min-height: 20px;">
    {{ invoiceHdr.branchName }}
  </div>
  <div style="min-height: 20px;">
    <span style="padding-left: 3%;"> {{ invoiceHdr.ledgerName }} </span>
    <span style="padding-left: 28%;"> {{ invoiceHdr.invoiceNo }} </span>
  </div>
  <div style="min-height: 20px;">
    <span style="padding-left: 4%;"> {{ invoiceHdr.vehicleRegNo }} </span>
    <span style="padding-left: 18%;"> {{ invoiceHdr.invoiceDate  | date: 'dd/MM/yyyy' }} </span>
  </div>

  <div style="padding-left: 4%;min-height: 20px;">
    {{ invoiceHdr.suppliedTo }}
  </div>

  <div style="min-height: 70px;">
    <table style="width: 50%;margin-top: 3%;font-size: 10px;margin-left: 0%;">
      <tr *ngFor="let detail of invoiceDetail; let i = index;">
        <td>{{ i + 1 }}</td>
        <td style="width: 55%; 
        word-break: break-all;">{{ detail.productName}}</td>
        <td style="width: 12%;word-break: break-all;">{{ detail.unitName}}</td>
        <td style="width: 12%;word-break: break-all;">{{ detail.qty}}</td>
        <td style="width: 12%;word-break: break-all;">{{ detail.rate}}</td>
        <td style="width: 15%;word-break: break-all;">{{ detail.grossAmount}}</td>
      </tr>
    </table>
  </div>

  <div style="min-height: 70px;">
    <table style="width: 50%; margin-top:2%;font-size: 10px;margin-left: 0%;">
      <tr *ngFor="let detail of invoiceDetail; let i = index;">
        <td style="width: 10%;word-break: break-all;">{{ detail.hsnNo}}</td>
        <td style="width: 10%;word-break: break-all;"></td>
        <td style="width: 10%;word-break: break-all;"></td>
        <td style="width: 10%;word-break: break-all;">{{ detail.cgst}}</td>
        <td style="width: 10%;word-break: break-all;">{{ detail.sgst}}</td>
        <td style="width: 10%;word-break: break-all;">{{ detail.igst}}</td>
      </tr>
    </table>
  </div>

  <div style="min-height:20px;">
    <table style="width: 50%; margin-top: 0%;font-size: 10px;margin-left: 0%;">
      <tr>
        <td style="width: 10%; word-break: break-all;"></td>
        <td style="width: 10%; word-break: break-all;"></td>
        <td style="width: 10%; word-break: break-all;">{{ invoiceHdr.tt}}</td>
        <td style="width: 10%; word-break: break-all;">{{ invoiceHdr.totalCgst}}</td>
        <td style="width: 10%; word-break: break-all;">{{ invoiceHdr.totalSgst}}</td>
        <td style="width: 10%; word-break: break-all;">{{ invoiceHdr.totalIgst}}</td>
      </tr>
    </table>
  </div>

  <div style="min-height:20px;">
    <table style="width: 50%;font-size: 10px; margin-left: 0%;">
      <tr>
        <td style="padding-left: 24%;">{{ invoiceHdr.totaltaxAmount}}</td>
        <td style="">{{ invoiceHdr.grandTotal}}</td>
      </tr>
    </table>
  </div>

  <div style="min-height:20px;">
    <table style="width: 50%;font-size: 10px; margin-left: 0%;">
      <tr>
        <td style="">{{ invoiceHdr.amountInWords}}</td>
      </tr>
    </table>
  </div>

  <div style="padding-left: 46%;padding-top: 0%;min-height:20px;">
    {{ invoiceHdr.userName }}
  </div>
</div>