<div class="position-relative popup-class">


  <mat-card-title  class="boader--color d-flex justify-content-between position-absolute w-100" >
    <span>   {{'glsubcode.title' | translate }} </span>
    <mat-icon class="p-2 cursor--pointer" (click)="cancel()">close</mat-icon>
  </mat-card-title>

    <mat-card-content class="pt-5 p-2 m-0 overflow-auto">
       <form [formGroup]="modelFormData" autocomplete="off">

        <div class="d--flex">
          <mat-form-field>
            <mat-label>{{'glsubcode.glcode' | translate }}</mat-label>
            <mat-select formControlName="glcode">
              <mat-option *ngFor="let glaccgrp of glaccsubgrpList" [value]="glaccgrp.id">
                {{glaccgrp.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        <mat-form-field class="form-element" [ngClass]="{ 'ng--valid': formControls.subCode.valid }" >
          <input matInput placeholder="{{'glsubcode.subCode' | translate }}" disabled formControlName="subCode" appFocusOnEnter tabIndex="1">
          <mat-error *ngIf="formControls.subCode.errors" class="help-block">
            <div *ngIf="formControls.subCode.errors.required">GL SubCode is required </div>
          </mat-error>

        </mat-form-field>

        <mat-form-field class="form-element" [ngClass]="{ 'ng--valid': formControls.description.valid }">
          <input matInput placeholder="{{'glsubcode.description' | translate }}" formControlName="description" appFocusOnEnter tabIndex="2">
          <mat-error *ngIf="formControls.description.errors" class="help-block">
            <div *ngIf="formControls.description.errors.required">GL SubAccount Name is required</div>
          </mat-error>
        </mat-form-field>

      </div>
      <mat-divider></mat-divider>



      </form>

    </mat-card-content>
    <div  class="form-element p-2 d-flex justify-content-end">
      <button mat-raised-button class="button-color-red text-white mr-1"  (click)="cancel()">
        
        {{ 'COMMON.CANCEL' | translate }}
      </button>
          <button mat-raised-button  type="submit" class="button-color-bule text-white ml-1"  (click)="save()" appFocusOnEnter tabIndex="3">
            
            {{ 'COMMON.SAVE' | translate }}
           </button>
    </div>
  </div>
