$background-shadow : rgba(0,0,0,.3);
$background-color : rgba(0, 0, 0, 0.06);
$color-blue: #337ab7;
$color-green: #42a948;
$color-red: #a94442;
$color-yellow: yellow;
$color-gray: #efefef;
$color-white: white;
$color-poptitle: rgb(43, 107, 177);
$color-ddd : #ddd;
$color-f9f9f9 : #f9f9f9;
$color-color : rgba(0,0,0,.42)