@import "_reuse.scss";

body {
  background-color: $background-color !important;
}

.mat-card {
  padding: 0px !important;
}

.background--color {
  background-color: $color-blue !important;
}



.mat-raised-button {
  box-shadow: none !important;
  padding: 0 8px !important;
 & .mat-icon {
    font-size: 18px;
    height: 18px !important;
    width: 18px !important;
  }
}

.mat-form-field {
  width: 100%;
}

.ng--valid {
  & .mat-form-field-label {
    color: $color-green !important;
  }
  & .mat-form-field-ripple {
    background-color: $color-green !important;
  }
}

.cursor--pointer {
  cursor: pointer;
}

.style-success {
  background: $color-green;
}

.style-error {
  background: $color-red;
}

.style-warning {
  background: $color-yellow;
}

.style-normal {
  background: $color-gray;
}

.background-header-boarder {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.background-header-style {
  padding: 0rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.d--flex {
  display: flex;
  flex-wrap: wrap;
}

.button-color-bule {
  background-color: $color-blue !important;
}

.button-color-red {
  background-color: $color-red !important;
}

mat-form-field {
  margin: 5px;
  flex: 0 0 24%;
}

.table {
  overflow-x: scroll;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  & > tbody {
    & tr {
      border-bottom: 1px solid #ddd;
      height: 40px !important;
      cursor: pointer;
      & th {
        background-color: $color-blue;
        color: $color-white;
        vertical-align: middle;
        border: none !important;
      }
    }
    & td {
      font-size: 12px;
      vertical-align: middle;
      border: none !important;
    }
    & tr:nth-child(even) {
      background-color: #f9f9f9;
    }
    & tr:nth-child(odd) {
      background-color: $color-white;
    }
    & tr:nth-child(even):hover {
      background-color: #f9f6f6;
    }
    & tr:nth-child(odd):hover {
      background-color: #f9f6f6;
    }
  }
}

mat-option  {
  & > mat-pseudo-checkbox {
   display: none !important;
  }
}

.cdk-overlay-pane-select-search.cdk-overlay-pane-select-search-with-offset {
  margin: 50px 0px 0px 30px !important;
 }

 .popup-class {
  & mat-form-field {
    margin: 5px;
    flex: 0 0 24%;
  }
  & mat-card-title {
    min-height: 50px;
    height: 50px;
    z-index: 1000;
  }
  & mat-card-content {
    max-height: 400px;
  }
}

.boader--color {
  padding: .30rem 1.25rem;
  margin-bottom: 0;
  background-color: $color-poptitle;
  color: $color-white;
}

.custom-dialog-container {
  & .mat-dialog-container {
    padding: 0px !important;
 }
 
}

.typeAhead {
  border: none;
  outline: none;
  text-align: center;
}
