<mat-card >
    <div class="table-boarder">
      <mat-card-title class="table-boarder-color">
        Report
      </mat-card-title>
      <div class="m-2 table-boarder">
  
    <div class="table">
      <table class="w-100" mat-table [dataSource]="dataSource" matSort #mytable>
        <ng-container *ngFor="let column of getDisplayedColumns()" [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <!-- <strong>{{ column }}</strong> -->
            <strong > {{ ( routeParam + '.' +  column) | translate }} </strong>
          </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <input matInput [value]="element[column]" [(ngModel)]="element[column]" />
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
        <tr mat-row *matRowDef="let row; columns: getDisplayedColumns(); let i = index" 
         ></tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[10, 15]" showFirstLastButtons></mat-paginator>
  </div>
  </div>
  </mat-card>
  